<div id="paperAdd">
    <div class="contents">
        <el-card class="clefts">
            <el-tree :data="outline" show-checkbox default-expand-all :props="defaultProps" @check-change="selectNode"></el-tree>
        </el-card>
        <div class="crights">
            <el-tree :data="option" v-show="flag"show-checkbox default-expand-all :props="defaultProps" @check-change="selectNode1"></el-tree>
            <el-card style="margin:5px" v-for="(item,index) in page.content" :key="'page_'+index" :header="item.text">
                <!-- {{item.text}} -->
                <el-radio-group v-model="radio2">
                    <el-radio :label="i.id" v-for="(i,index) in page.item" :key="'item_'+index">{{i.text}}
                    </el-radio>
                </el-radio-group>
            </el-card>
        </div>
    </div>
    <div slot="footer">
        <el-button onclick="indexVm.loadPage('/menu/papers.html')">取 消</el-button>
        <el-button type="primary" @click="saveQues">确 定</el-button>
    </div>

</div>
<script>
    new Vue({
        el: "#paperAdd",
        data: function () {
            return {
                radio2: '',
                flag:false,
                paperData: [],
                outline: [],
                option: [],
                papergetData: [],
                arr: [],
                defaultProps: {
                    children: 'children',
                    label: 'text',
                },
                page: {
                    id: '',
                    title: '',
                    content: [],
                    item: [
                        // { id: 1, text: '优秀', val: 5 },
                        // { id: 2, text: '良好', val: 4 },
                        // { id: 3, text: '中等', val: 3 },
                        // { id: 4, text: '很差', val: 2 },

                    ]
                },
            }
        },
        created() {
            var _this = this
            $.get('/outline', function (result) {
                if (result.error != 0) { return }
                _this.outline = result.data
            }),
                $.get('/option', function (result) {
                    if (result.error != 0) { return }
                    _this.option = result.data
                    console.log(_this.option)
                    // _this.option=JSON.stringify(_this.option)
                }),
                $.get('/paper/get', function (result) {
                    if (result.error == 0) {
                        _this.papergetData = result.data
                        // console.log(result.data)
                        // _this.papergetData.push(_this.option)
                        console.log(_this.papergetData)
                    } else {
                        console.log('数据获取失败')
                    }
                }, 'json')


        },
        methods: {
            //保存问卷调查
            saveQues() {
                var _this = this
                this.$prompt('请输入问卷标题', '提示', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    inputPattern: /^.+$/,
                    inputErrorMessage: '标题不能为空',
                    callback: function (action, obj) {
                        if (action == 'confirm') {
                            _this.page.title = obj.inputValue
                            $.post('/paper/add', {
                                title: _this.page.title,
                                content: JSON.stringify(_this.page.content),
                                item: JSON.stringify(_this.page.item)
                            }, function (result) {
                                // console.log(result)
                                // console.log(_this.page.item)
                                _this.dgShow = false
                                indexVm.loadPage('/menu/papers.html')
                                _this.$message({
                                    type: 'success',
                                    message: '创建成功'
                                });
                            })
                        }
                    }
                })
            },
            selectNode: function (data, isSelect) {
                var _this = this
                _this.flag =true
                //过滤掉非叶子节点
                if (data.children.length == 0) {
                    // console.log(data)
                    //选中时展示
                    if (isSelect) {
                        this.page.content.push(data)
                    } else {
                        var index = this.page.content.indexOf(data)
                        this.page.content.splice(index, 1)
                    }
                }
            },
            selectNode1: function (data, isSelect) {
                //过滤掉非叶子节点
                if (data.children.length == 0) {
                    // console.log(data)
                    //选中时展示
                    if (isSelect) {
                        this.page.item.push(data)
                    } else {
                        var index = this.page.item.indexOf(data)
                        this.page.item.splice(index, 1)
                    }
                }
            },
        },

    })

</script>




<style>
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    #paper {
        padding: 10px;
    }

    .contents {
        overflow: hidden;
    }

    .contents>div {
        float: left;
        margin: 5px;
    }
</style>