<div id="paper">
    <el-button type="primary" size="mini" @click="dgShow=true">创建问卷</el-button>
    <el-table :data="papergetData" style="width: 100%">
        <el-table-column prop="title" label="标题" width="180">
        </el-table-column>
        <el-table-column prop="creator_id" label="创建人" width="180">
        </el-table-column>
        <el-table-column prop="ctime" label="创建时间" width="180">
        </el-table-column>
        <el-table-column prop="mtime" label="修改时间">
        </el-table-column>
        <el-table-column fixed="right" label="操作" width="100">
            <template slot-scope="scope">
                <el-button @click="editpaper(scope)" type="text" size="small">编辑</el-button>
                <el-button @click="dele(scope)" type="text" size="small">删除</el-button>

            </template>
        </el-table-column>
    </el-table>


    <el-dialog title="添加问卷" fullscreen :visible.sync="dgShow">
        <div class="contents">
            <div class="clefts">
                <el-tree :data="outline" show-checkbox default-expand-all :props="defaultProps" @check-change="selectNode"></el-tree>
            </div>
            <div class="crights">
                <ul>
                    <li v-for="(item,index) in page.content" :key="'page_'+index">
                        {{item.text}}
                        <hr>
                        <span v-for="(i,index) in page.item" :key="'item_'+index">{{i.text}}</span>
                    </li>
                </ul>
            </div>
        </div>
        <div slot="footer">
            <el-button @click="dgShow = false">取 消</el-button>
            <el-button type="primary" @click="saveQues">确 定</el-button>
        </div>
        {{page}}
    </el-dialog>


    <el-dialog title="编辑问卷" fullscreen :visible.sync="dgShow1" >
            <div class="contents">
                <div class="clefts">
                    <el-tree :data="outline" show-checkbox default-expand-all :props="defaultProps" node-key="id" :default-checked-keys="arr"
                        @check-change="selectNode"></el-tree>
                </div>
                <div class="crights">
                    <ul>
                        <li v-for="(item,index) in page.content" :key="'page_'+index">
                            {{item.text}}
                            <hr>
                            <span v-for="(i,index) in page.item" :key="'item_'+index">{{i.text}}</span>
                        </li>
                    </ul>
                </div>
            </div>
            <div slot="footer">
                <el-button @click="dgShow1 = false">取 消</el-button>
                <el-button type="primary" @click="saveQues1()">确 定</el-button>
            </div>
        </el-dialog>
</div>
<script>
    new Vue({
        el: "#paper",
        data: function () {
            return {
                dgShow: false,
                dgShow1: false,
                paperData: [],
                outline: [],
                papergetData: [],
                arr: [],
                defaultProps: {
                    children: 'children',
                    label: 'text',
                },
                page: {
                    id:'',
                    titel: '',
                    content: [],
                    item: [
                        { id: 1, text: '优秀', val: 5 },
                        { id: 1, text: '良好', val: 4 },
                        { id: 1, text: '中等', val: 3 },
                        { id: 1, text: '很差', val: 2 },

                    ]
                },
            }
        },
        created() {
            var _this = this
            $.get('/outline', function (result) {
                if (result.error != 0) { return }
                _this.outline = result.data
            }),
                $.get('/paper/get', function (result) {
                    if (result.error == 0) {
                        _this.papergetData = result.data
                        console.log(result.data)
                        console.log(_this.papergetData)
                    } else {
                        console.log('数据获取失败')
                    }
                    // _this.loading = false
                }, 'json')
            // console.log(_this.papergetData)
        },
        methods: {
            //关闭dialog
            closeDialog(){
                var _this = this
                // _this.dgShow = false
                parent.location.reload()
            },
            //保存问卷调查
            saveQues() {
                var _this = this
                this.$prompt('请输入问卷标题', '提示', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    inputPattern: /^.+$/,
                    inputErrorMessage: '标题不能为空',
                    callback: function (action, obj) {
                        if (action == 'confirm') {
                            _this.page.title = obj.inputValue
                            $.post('/paper/add', {
                                title: _this.page.title,
                                content: JSON.stringify(_this.page.content),
                                item: _this.page.item
                            }, function (result) {
                                console.log(result)
                                console.log(_this.page.item)
                                _this.dgShow = false
                            })
                        }
                    }
                })
            },
            selectNode: function (data, isSelect) {
                //过滤掉非叶子节点
                if (data.children.length == 0) {
                    // console.log(data)
                    //选中时展示
                    if (isSelect) {
                        this.page.content.push(data)
                    } else {
                        var index = this.page.content.indexOf(data)
                        this.page.content.splice(index, 1)
                    }

                }

            },
            dele: function (scope) {
                var _this = this
                this.$confirm('注意：删除文件不可恢复！', '确定删除吗？', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'warning',
                    callback: function (action) {
                        if (action == 'cancel') {
                            return
                        }
                        //点击确认后删除
                        _this.loading = true
                        $.get('/paper/del', { id: scope.row.id }, function (result) {
                            if (result.error == 0) {
                                _this.papergetData.splice(scope.$index, 1)   //只在前端删除行
                                _this.$message({
                                    type: 'success',
                                    message: '删除成功！'
                                })
                            } else {
                                console.log('删除失败')
                            }
                            _this.loading = false
                        })
                    }
                })
            },
            //编辑
            editpaper: function (scope) {
                var _this = this
                _this.dgShow1 = true
                var arr = []
                _this.page.id = scope.row.id
                _this.page.content = JSON.parse(scope.row.content)
                _this.page.title = scope.row.title
                // console.log(id)
                // console.log(scope.row.content)
                var contents = JSON.parse(scope.row.content)
                for (var i = 0; i < contents.length; i++) {
                    _this.arr.push(contents[i].id)
                    // _this.content.push(contents[i])
                    // console.log(_this.arr)
                }
            },
            //提交编辑后的问卷
            saveQues1() {
                var _this = this
                console.log(_this.page.content)
                this.$prompt('请输入问卷标题', '提示', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    inputPattern: /^.+$/,
                    inputErrorMessage: '标题不能为空',
                    inputValue: _this.page.title,
                    callback: function (action, obj) {
                        if (action == 'confirm') {
                            _this.page.title = obj.inputValue
                            $.post('/paper/edit', {
                                id:_this.page.id,
                                title: _this.page.title,
                                content: JSON.stringify(_this.page.content),
                                item: _this.page.item
                            }, function (result) {
                                if (result.error != 0) { return }
                                // _this.$set(scope.row, 'title', obj.inputValue)
                                // _this.dgShow1 = false
                            })
                        }
                    }
                })
            },
        },

    })

// this.$prompt('请输入内容', '编辑标题', {
//                     inputPattern: /^.+$/,
//                     inputErrorMessage: '内容不能为空',
//                     inputValue: scope.row.title,
//                     callback: function (action, obj) {
//                         // _this.papergetData.title = obj.inputValue
//                         if (action != 'confirm') { return }
//                         $.post('paper/edit', {
//                             title: obj.inputValue,
//                             id: scope.row.id,
//                             sort: 0
//                         }, function (result) {
//                             if (result.error != 0) { return }
//                             _this.$set(scope.row, 'title', obj.inputValue)
//                         })
//                     }
//                 })

// this.$prompt('请输入内容', '编辑标题', {
                //     inputPattern: /^.+$/,
                //     inputErrorMessage: '内容不能为空',
                //     inputValue: scope.row.title,
                // })



    // callback: function (action, obj) {
    //     // _this.papergetData.title = obj.inputValue
    //     if (action != 'confirm') {return}
    //         $.post('paper/edit', {
    //         title : obj.inputValue,
    //         id: scope.row.id,
    //         sort: 0
    //     }, function (result) {
    //         if (result.error != 0) { return }
    //         _this.$set(scope.row, 'title', obj.inputValue)
    //     })
    // }
</script>




<style>
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    #paper {
        padding: 10px;
    }

    .contents {
        overflow: hidden;
    }

    .contents>div {
        float: left;
        margin: 5px;
        border: 1px solid rgba(0, 0, 0, 0.1);
        box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
    }

    .clefts {
        width: 19%;
    }

    .crights {
        width: 78%;
    }
</style>